<div>

<section class="forms_section">
        {{!-- Add Product --}}
        <form action="#" id="newProduct">
            <h1>Add product</h1>
            <label for="">Title</label>
            <input type="text" required id="title" value="Product7">
            <label for="">Description</label>
            <input type="text" required id="description" value="Description7">
            <label for="">Price</label>
            <input type="number" required id="price" value="58">
            <label for="">File name</label>
            <input type="text" required id="thumbnail" value="/thumbnail7.jpg">
            <label for="">Code</label>
            <input type="text" required id="code" value="P007">
            <label for="">Stock</label>
            <input type="number" required id="stock" value="100">
            <label for="">Status</label>
            <select name="" id="status">
                <option value="true" selected>True</option>
                <option value="false">False</option>
            </select>
            <label for="">Category</label>
            <input type="text" required id="category" value="cat3">
            <button type="submit" class="btn_add">Add product</button>
            <label for="" class="resultAdd" id="statusAddProduct"></label>
        </form>

        {{!-- Delete Product --}}
        <form action="##" id="deleteProduct">
            <h2>Delete Product</h2>
            <label for="">Enter id of product to delete</label>
            <input type="text" value="2" required id="inputNum">
            <button class="btn_del" type="submit">Delete product</button>
            <label for="" class="resultDelete" id="statusDeleteProduct"></label>
        </form>
    </section>

    {{!-- View Real-Time Products --}}
    <h2 class="title_products">Real-Time Products</h2>

    <ul class="product_box_realTime" id="realTimeProductList">

    </ul>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtimeproducts.js"></script>